<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="jakarta.persistence.jdbc.url">jdbc:derby:memory:mx_base;create=true</property>
        <property name="jakarta.persistence.jdbc.user"></property>
        <property name="jakarta.persistence.jdbc.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
        <property name="hibernate.cache.region.factory_class">jcache</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="net.matrix.sql.hibernate.entity.IntegerListAsCharTestEntity" />
        <mapping class="net.matrix.sql.hibernate.entity.IntegerListAsCharTypeEntity" />
        <mapping class="net.matrix.sql.hibernate.entity.LocalDateAsNumericTestEntity" />
        <mapping class="net.matrix.sql.hibernate.entity.LocalDateAsNumericTypeEntity" />
        <mapping class="net.matrix.sql.hibernate.entity.LocalDateTimeAsNumericTestEntity" />
        <mapping class="net.matrix.sql.hibernate.entity.LocalDateTimeAsNumericTypeEntity" />
        <mapping class="net.matrix.sql.hibernate.entity.LocalTimeAsNumericTestEntity" />
        <mapping class="net.matrix.sql.hibernate.entity.LocalTimeAsNumericTypeEntity" />
        <mapping class="net.matrix.sql.hibernate.entity.StringListAsCharTestEntity" />
        <mapping class="net.matrix.sql.hibernate.entity.StringListAsCharTypeEntity" />
        <mapping class="net.matrix.sql.hibernate.entity.User" />
    </session-factory>
</hibernate-configuration>
